.pc-toolbar {
  background-color: #262626;
  padding: 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 5px;
}

.pc-toolbar span, .pc-toolbar svg {
  color: #aaa;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.pc-toolbar span:hover, .pc-toolbar svg:hover {
  color: #fff;
}