.burger-btn {
  position: fixed;
  top: 1.5rem;
  left: 1rem;
  z-index: 50;
  padding: 0.5rem;
  background: #380202;
  color: white;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background 0.2s;
  display: none;
}
.burger-btn:hover {
  background :#4e0000;
}

.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 30;
  display: none;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background: #380202;
  color: white;
  width: 16rem;
  border-radius: 0 1.5rem 1.5rem 0;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  direction: ltr; 
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-family: "Montserrat", sans-serif;
  padding: 2rem 1.5rem;
}

.profile-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #374151;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0; 
  object-fit: cover;
}

.avatar-icon {
  color: #9ca3af;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: 0.875rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.profile-role {
  font-size: 0.75rem;
  color: #d1d5db;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.menu-nav {
  flex: 1;
  padding-left: 0.75rem;
  overflow-y: auto;
}

.menu-item {
  width: 100%;
  display: flex;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start; 
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  
  border-radius: 0 50px 50px 0; 
  
  margin-bottom: 0.25rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  text-align: left;
}

.menu-item:hover {
  background: #4a0404;
  padding-left: 1.5rem;
}

.menu-item.active {
  background: white;
  color: #4a0404;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.menu-label {
  font-size: 0.875rem;
  font-weight: 500;
}

.menu-divider {
  margin: 0.75rem 0;
  border-top: 1px solid #991b1b;
  opacity: 0.5;
}

@media (max-width: 1023px) {
  .burger-btn {
    display: block;
  }
  .sidebar-overlay {
    display: block;
  }
  .sidebar {
    z-index: 40;
    width: 12rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.open {
    transform: translateX(0);
  }
   .profile-section {
    padding-top: 4rem;
  }
}

@media (min-width: 1024px) {
  .burger-btn {
    display: none;
  }
  .sidebar {
    display: block;
    transform: translateX(0);
  }
}